<div class="modal-header">
    <h4 class="modal-title">Edit department info</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="theForm" role="form" data-ng-submit="submit();">
        <div class="form-group" data-ng-class="{'has-error': theForm.inputName.$invalid,'has-success': theForm.inputName.$valid}">
            <label for="inputName" class="col-sm-4 control-label">Department name</label>
            <div class="col-sm-8">
                <input id="inputName" name="inputName" type="text" class="form-control" data-ng-model="department.name" required/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="cancel();">Cancel</button>
    <button type="submit" class="btn btn-primary" data-ng-disabled="theForm.$invalid" data-ng-click="submit();">Save changes</button>
</div>